.card {
     width: 91%;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    background-color: white;
}

.card-image {
  // background-image: url('https://images.unsplash.com/photo-1517223144309-3989f10f97fd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
  height: 50%;
  width: 100%;
  background-size: cover;
}


  .post-content {
       bottom: 0;
    background: white;
    width: 100%;
    border-radius: 12px;
    padding: 18px;
    }


    .title {
      margin: 0;
      padding: 0 0 10px;
      color: #ff8000;
      font-size: 26px;
      font-weight: 700;
    }
    .sub_title {
      margin: 0;
      padding: 0 0 20px;
      color: gray;
      font-size: 20px;
      font-weight: 400;
    }


      .timestamp {
        margin: 0 16px 0 0;
        font-family: "Montserrat" cursive;
        font-weight: lighter;
      }





