.tabs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}


.basicinfo {
  margin-bottom: 24px;
  margin-top: 80px;
  margin-right: 145px;
  position: absolute;
  left: 462px;
  color: white;
  font-size: xx-large;

}

#description {

display: flex;
justify-content: center;

}

.edit {
display: flex;
flex-direction: row-reverse;
}

.edit a {
  color: white;
}

.edit a:hover {
  color: #FF8000;

}

 .pins p{
  margin: 0px;

 }

.marg {
  margin: 0 10%;
}
.avatar {
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
margin-top: -7px;
margin-left: 10%;

}

.principale {
 flex-direction: column;
  margin-left: 11px;
  margin-top: -30px;
 }

 .principale h2 {
  font-size: 30px;
 }

 .principale h3 {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 5px;
 }


.pins {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 68px;
}


#name {
  margin-left: 10px;
  font-size:  30px;
}


 .elementcontent p {
  color: white;
 }

.card {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  margin: 15px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.profile {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 70px);
  padding: 30px;
}
.profile .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
}
.profile .description {
  grid-row: 2 / span 1;
  grid-column: 2 / span 3;
}
.main, .description, .stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 940px) {
  .profile {
    display: block;
  }
}

/* Fonts and colors */
.profile h2 {
  font-size: 22px;
}
.profile h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.profile p {
  color: rgba(0,0,0,0.6);
}
.profile .btn {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #37B686;
}
.profile .btn:hover {
  background: #37B686;
  opacity: 0.7;
}
.stat h3 {
  color: #37B686;
  font-size: 28px;
}
.stat p {
  color: rgba(0,0,0,0.25);
  font-size: 19px;
}
.description h3 {
  color: rgba(0,0,0,0.9);
  font-size: 21px;
  font-weight: normal;
}
.description p {
  color: rgba(0,0,0,0.5);
  font-weight: lighter;
}


