 <div class="text-center">
        <h3>
          There is no feedbacks for this pitch. Be the first to review it!
        </h3>
      <div>
        <%= link_to "Add Feedback",new_pitch_feedback_path(@pitch), class: "btn btn-danger btn-lg"%>
       </div>
 </div>
