<div class="container">
  <div class="row">
    <% @pitches.each do |pitch|  %>
      <div class="col col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-image">
          </div>
          <div class="post-content">
            <h1 class=" title"> <%= pitch.name  %></h1>
            <h2 class="sub_title "> <%= pitch.topic  %>
              <h3 class="sub_title"> <%= pitch.target %> </h3>
            </h2>
            <span class="timestamp">
              <i class="fa fa-clock"></i>
              6 mins ago
            </span>
            <span class="comments">
              <i class="fa fa-comments">
                <a href="#"> 39 reviews </a> </i>
            </span>
            <div class="space text-center">
              <%= link_to "Details",pitch_path(pitch), class: " btn-outline-primary " %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!--

            <div class="post-meta">
</div>