<div class="grid text-center ">
  <div class="element">
    <video width="95%" height="auto" controls="controls">
    </video>
  </div>
  <div class="cards-h">
    <h3>3,536</h3>
    <strong> <p>Meals Cooked</p></strong>
  </div>
  <div class="cards-h2 ">
     <h3>3,536</h3>
    <strong> <p>Meals Cooked</p></strong>
  </div>
</div>
