<div class="grid text-center ">
  <div class="element">
    <% if @pitch.photo.present? %>
        <video width="100%" height="auto" controls="controls" src=<%= cloudinary_url(@pitch.photo.filename.split("/")[1], :resource_type => :video) %> >
        </video>
      <% else %>
      <video width="100%" height="auto" controls="controls">
      </video>
    <% end %>

  </div>

  <div class="cards-h">
    <h3></h3>
    <strong> <p></p></strong>
  </div>
  <div class="cards-h2 ">
     <h3></h3>
    <strong> <p></p></strong>
  </div>
</div>

