

<h1><%= ['"L’éducation a un wagon de retard sur l’innovation"','"Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations."','3'].sample %></h1>

<%= link_to 'ma bite',  pitch_path(Pitch.last) %>
