<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'banner.png' %>);">
  <div class="banner-content">
    <h1><%= ['“Believe in yourself! Have faith in your abilities! Without a humble but reasonable confidence in your own powers you cannot be successful or happy.” —Norman Vincent Peale' , '“If you can dream it, you can do it.” —Walt Disney','“Press forward. Do not stop, do not linger in your journey, but strive for the mark set before you.” —George Whitefield', '“The future belongs to those who believe in the beauty of their dreams.” —Eleanor Roosevelt', '“Aim for the moon. If you miss, you may hit a star.” —W. Clement Stone', '“Don’t watch the clock; do what it does. Keep going.” —Sam Levenson', '“Keep your eyes on the stars, and your feet on the ground.” —Theodore Roosevelt', '“You just can’t beat the person who never gives up.” —Babe Ruth', '“Start where you are. Use what you have. Do what you can.” —Arthur Ashe', '“Why should you continue going after your dreams? Because seeing the look on the faces of the people who said you couldn’t… will be priceless.” —Kevin Ngo'].sample %></h1>

      <%= link_to 'Start Pitch',pitch_video_path(Pitch.find(params[:pitch_id])), class: "btn btn-lg  btn-primary center-block" %>
  </div>
</div>
