
<div class="container">
  <%= render 'pitches/video_description' %>

  <% if @pitch.feedbacks.any? %>
    <%= render 'pitches/feedback_present' %>
  <% else %>
        <%= render 'pitches/no_feedback' %>
  <% end %>
</div>
