<h1> show Page </h1>
<%= @pitch.name %>

<!-- <div class="card card2">
          <div class="card-content">
        <div class="message">
          <div class="message-name">
          <% @pitch.feedback.ratings each do |p| %>
          </div>
        <div class="message-body">
          <div class="card-content">
          <p><strong>Comment</strong></p>
          <p>
          <%= p.review_comment %>
          </p>
       </div>
         <div class="card-content">
          <p><strong>Rating</strong></p>
          <%= p.rating %>
        </div>
      </div>
      </div>
    </div>
    <% end %>
</div>
 -->
