<div class="banner" style="background-image:
linear-gradient(-225deg, rgba(189,194,197,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'banner.png' %>);">
  <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4">
  <div class="banner-content">
    <h1>video</h1>
<video autoplay></video>

<script>
  const constraints = {
    video: true
  };

  const video = document.querySelector('video');

  navigator.mediaDevices.getUserMedia(constraints).
  then((stream) => {video.srcObject = stream});
  const hdConstraints = {
  video: {width: {min: 1280}, height: {min: 720}}
};

navigator.mediaDevices.getUserMedia(hdConstraints).
  then((stream) => {video.srcObject = stream});

...

const vgaConstraints = {
  video: {width: {exact: 640}, height: {exact: 480}}
};

navigator.mediaDevices.getUserMedia(vgaConstraints).
  then((stream) => {video.srcObject = stream});
</script>
    <%= link_to 'Submit',  pitches_path , class: "btn btn-lg  btn-primary center-block" %>
    </div>
  </div>
</div>









