   <%= render 'shared/banner' %>
 <div class="wrapper banner-background">

 <div class="container text-center padded banner-background ">
      <div class="row">
         <div class="top-margin1">
          <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-bullhorn fa-4x"></i>
          <h2>Pitch, Review, Improve, Repeat</h2>
          <p class="left letter-color">A 21st century pitch skill development tool.</p>
          </div>
        </div>
        <div class="top-margin1">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <i class="fas fa-comment-alt fa-4x"></i>
            <h2>Harness and contribute to the community</h2>
            <p class="left letter-color">Track your pitches' feedback.</p>
          </div>
        </div>
        <div class="top-margin1">
         <div class="col-xs-12 col-sm-6 col-md-3">
          <i class="fa fa-desktop fa-4x"></i>
          <h2>Change your life: learn to pitch</h2>
          <p class="left letter-color">Have the confidence of getting on any stage and rock it!</p>
          </div>
        </div>
        <div class="top-margin1">
          <div class="col-xs-12 col-sm-6 col-md-3">
          <div>
          <i class="fa fa-child fa-4x"></i>
          <h2>Share and love</h2>
          <p class="left letter-color">Join a community you will love.</p>
        </div>
        </div>
      </div>
    </div>
  </div>
 <%= render 'shared/footer' %>



