.avatar-bordered {
 height: 24vh;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-bordered-large {


  height: 16vh;
  width: 9vw;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-top: 25px;

}



.avatarnav {
width: 3vw;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}
