.grandma-image {
  height: 40%;
  border-radius: 4px 4px 0 0;
}

#cards-pp {
  margin: 3vw 0;
}

.cards-1{
  display:flex;
  justify-content: center;
}
.cards-pp {
  margin: 1.5vw;
  width: 20vw;
  height: 58vh;
  background: white;
  border-radius: .50vw;
  box-shadow:  0 0.13vw 0.91vw rgba(0,0,0,.05);
  margin-top: 5vw;
  padding: 2.5vw;
}


.cards-h {
  margin: 1.5vw;
  width: 35vw;
  height: 20vh;
  background: white;
  border-radius: .50vw;
  box-shadow:  0 0.13vw 0.91vw rgba(0,0,0,.05);
  margin-top: 2vw;
  padding: 2.5vw;
}

.cards-h2 {
  margin: 1.5vw;
  width: 35vw;
  height: 30vh;
  background: white;
  border-radius: .50vw;
  box-shadow:  0 0.13vw 0.91vw rgba(0,0,0,.05);
  margin-top: 60px;
  padding: 10px;
}



.cards-pp h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ff8000;
}

.btn-outline-primary {
border: 1px solid;
background-color: antiquewhite;
padding: 8px;
border-radius: 5px;

}

.space{
  margin-top: 20px;
}

.p {
  height: 40%;
  border-radius: 4px 4px 0 0;
}


.card_large {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin: 21px;
  margin-bottom: 91px;
  height: 436px;
  margin-left: 106px;
  color: black;
  border-radius: 10px;
}

.petitecard {
  width: 600px;
  background-color:  rgba(250, 250, 250, 0.4);
  padding: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin-top:  16px;
  margin-bottom: 30px;
  // margin-left: 172px;
  height: 450px;
  color: black;
  border-radius: 10px;
}

.logincard {
    width: 520px;
  background-color:  rgba(250, 250, 250, 0.4);
  padding: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin-top:  16px;
  margin-bottom: 30px;
  // margin-left: 172px;
  height: 337px;
  color: black;
  border-radius: 10px;

}

.logincard h2{
 margin-top: -50px;
  margin-bottom: 42px;
  font-size: 40px;
  color: white;


}


.pitchcard {
  width: 40vw;
  background-color:  rgba(250, 250, 250, 0.4);
  padding: 60px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin-top:  16px;
  margin-bottom: 30px;
  // margin-left: 172px;
  height: 50vh;
  color: black;
  border-radius: 10px;
}





.pitchcard h2 {
  margin-top: -50px;
  margin-bottom: 42px;
  font-size: 40px;
  color: white;
}

.petitecard h2 {
  margin-top: -50px;
  margin-bottom: 42px;
  font-size: 40px;
  color: white;
}


 .profilecard {
  width: 100vw;
  background-color:  white;
  padding: 35px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);


  margin-top: 65px;


  // margin-left: 172px;
  height: 45vh;
  color: white;

  background-size: cover !important;
  background-position: center;
  position: relative;
}


.profilecard2 {
  width: 80vw;
  background-color:  white;

  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 25px;

  // margin-left: 172px;
  height: 450px;
  color: black;
  border-radius: 10px;
  background-size: cover !important;
  background-position: center;
}

.card-image {
  height: 60%;
  border-radius: 4px 4px 0 0;
}

.card-content {
  margin-top: 15px;
  display: block;
  color: #A39E9E;
  height: 3vh;

}

.card-name {
  font-weight: bold;
}

.card-description {
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 24px;
}

.card-booking {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-avatar{
  display:flex;
  justify-content:center;
  margin-bottom: 20px;
}


.card-image {

   height: 10%;
   width: inherit;

}

.pitch-card {
  border: 1px solid #dcdcdc;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin: 2% auto;
  padding: 10%;
  background-color: white;
}

.img-round {
  border-radius: 50%;
  max-width: 75px;
  max-height: 75px;

}
