.sub-entry {
    width: 50%;
    float: left;
    padding:1vw;
}

.left{
  text-align:left;
}


.feedbackcard1 {
  width: 60vw;
  background-color:  rgba(250, 250, 250, 0.4);
  padding: 1vw;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin-top:  1vh;
  margin-bottom: 2vh;
  // margin-left: 172px;
  height: 95vh;
  color: black;
  border-radius: 10px;
}
