.form_container {
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 3px;
  background-color:  rgba(250, 250, 250, 0.4);
  margin-right: 750px;
  margin-top: 50px;
}

.form_control {
      display: block;
    width: 100%;
    height: 39px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857;
    color: #000000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 9px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

}
