
//Tabs for Profile card

.tabs {
 display: flex;
 justify-content: center;
 margin: 26px auto;
 padding: 10px;
}

@media only screen and (max-width: 600px) {
.tabs {
width: 100vw !important;
}

.profilecard {
padding: 0px;
}
}

.tabs a {
  color: #ff8000;
  text-decoration: none;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
  font-size: medium;
}
.tab {
  background: white;
  text-align: center;
  padding: 15px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #FF8000;
  color: white;
  text-decoration: none;
}

//Tabs for Show- video

.tabs2 {
display: flex;
width: inherit;
font-size: 11px;
}

.tabs2 h4 {

  font-size: 19px;
}

.tab-content {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    padding: 0px 80px;
    max-height: 17%;
    max-width: 70%;
    margin-left: 14%;
}


